/*  Fonts  */



/*  Universal Styles  */
html {
  font-size: 16px;
}

body {
  color: rgba(80, 80, 80, 1);
}

.container {
  width: auto;
  margin: auto 1.5rem;
  display: flex;
}

h1 {
  font-size: 2.5rem;
  padding: 1.5rem 0;
}

h2 {
  font-size: 2rem;
  //padding: 1rem 0;
}

h3 {
  font-size: 1.5rem;
  //padding: 0.75rem 0;
}

h4 {
  font-size: 1rem;
  //padding: 0.5rem 0;
}

.left-hand-column {
  max-width: 60%;
  margin: 2rem 1.5rem 2rem 0rem;
}

.right-hand-column {
  max-width: 40%;
  margin-top: 1rem;
}

.container .section .image {
  max-width: 35%;
}

.container .section .text {
  max-width: 65%;
  margin-left: 2rem;
}

.container .right-hand-column {
  display: flex;
  flex-direction: column;
}

.container .right-hand-column .section {
  display: flex;
  align-items: center;
}

.container .right-hand-column img {
  max-width: 100%;
  margin: 1rem;
}

.container .text p {
  margin: 0.5rem 0;
}

.container .left-hand-column img {
  width: 100%;
}

.container .left-hand-column h2 {
  margin-top: 2rem;
}

.container .left-hand-column h3 {
  margin-top: 2rem;
}

.container .left-hand-column p {
  margin: 1.5rem 0;
}

/*  Header  */

header .container {
  height: 32px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.logo {
  height: 2rem;
  margin: auto 0;
  display: flex;
}

#colmar,
#academy {
  height: 1rem;
  line-height: 2rem;
}

#colmar {
  font-weight: bold;
}

#academy {
  color: rgba(169, 169, 169, 1);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.navigation ul {
  display: inline-block;
}

.desktop-navigation li {
  display: inline-block;
  padding-left: 1rem;
}

.mobile-navigation {
  display: none
}

/*  Jumbotron  */

.jumbotron {
    background-color: lightgrey;
}


.jumbotron .left-hand-column img {
  max-width: 100%;
}

.jumbotron .right-hand-column {
  width: 40%;
  padding: 3rem 2rem 3rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.jumbotron .right-hand-column button {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.25rem;
  background-color: dimgrey;
  color: white;
  margin-top: 1rem;
}


/*  Information  */

.information-section .left-hand-column img {
  //width: 100%;
}

.information-section .left-hand-column h2 {
  //margin-top: 2rem;
}

.information-section .left-hand-column p {
  /margin: 1.5rem 0;
}


#guest-lecture {
  background-color: lightgrey;
}

.information-section .text p {
  //margin: 0.5rem 0;
}



/*  Courses  */

.courses {
  background-color: lightgrey;
}

.courses h2 {
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
}

.courses .container {
  margin: 0 4.5rem;
}

.course-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.course {
  max-width: 32%;
  margin-bottom: 2rem;
}

.course-image img {
  max-width: 100%;
}

.course-text {
  margin: 1rem 1rem 1.5rem 1rem;
}

.course-text h4 {
  padding: 0.5rem 0;
}






/*  Thesis  */

.thesis h2 {
  text-align: center;
  padding: 2rem 0 0;
  font-weight: bold;
}

.thesis .left-hand-column video {
  max-width: 100%;
}




/*  Footer  */


footer .container {
  display: flex;
  justify-content: space-between;
}

footer .policy span {
  padding-left: 0.5rem;
}
